body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bottom {
  width: 50%;
  border: 0;
  color: beige;
  background: rgb(136, 133, 133);
  transition: 1s;

}
.bottom:hover{
  background: rgb(107, 103, 103);
  color: #fff;
  transition: 1s;
  
}
.bottom:active {
color: rgb(136, 133, 133);
background: #fff;
  
}
